//CONTAINERS
//scrollable
.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

//100% screen height
.static {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

//CONTENT
//rows
.row {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row-r {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

//cols
.col {
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: .5vw;
}

.col-r {
  flex-direction: column-reverse;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  background: url('../../assets/img/grid-debug.png') no-repeat center;
  background-size: cover;
}

//CONTENT ALIGN
//rows
.rx-start { justify-content: flex-start }
.rx-center { justify-content: center }
.rx-end { justify-content: flex-end }
.rx-between { justify-content: space-between }
.rx-around { justify-content: space-around }

.ry-start { align-items: flex-start }
.ry-center { align-items: center }
.ry-end { align-items: flex-end }

//cols
.cx-start { align-items: flex-start }
.cx-center { align-items: center }
.cx-end { align-items: flex-end }

.cy-start { justify-content: flex-start }
.cy-center { justify-content: center }
.cy-end { justify-content: flex-end }
.cy-between { justify-content: space-between }
.cy-around { justify-content: space-around }

//BREAKPOINTS
@mixin break($point) {
  @if $point==mp {
    @media only screen and (min-width: 0px) {
      @content;
    }
  }
  @else if $point==ml {
    @media only screen and (min-width: 479px) {
      @content;
    }
  }
  @else if $point==tp {
    @media only screen and (min-width: 640px) {
      @content;
    }
  }
  @else if $point==tl {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }
  @else if $point==d {
    @media only screen and (min-width: 1120px) {
      @content;
    }
  }
  @else if $point==w {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

//COLS @MEDIA
//movile portrait (479px)
@include break(mp) {    
  .mp1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .mp2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .mp3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .mp4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .mp5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .mp6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .mp7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .mp8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .mp-hide { display: none !important }
}

//movile landscape (639px)
@include break(ml) {    
  .ml1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .ml2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .ml3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .ml4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .ml5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .ml6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .ml7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .ml8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .ml-hide { display: none !important }
}

//tablet portrait (799px)
@include break(tp) {    
  .tp1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .tp2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .tp3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .tp4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .tp5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .tp6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .tp7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .tp8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .tp-hide { display: none !important }
}

//tablet landscape (959px)
@include break(tl) {    
  .tl1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .tl2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .tl3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .tl4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .tl5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .tl6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .tl7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .tl8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .tl-hide { display: none !important }
}

//desktop (1120px)
@include break(d) {    
  .d1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .d2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .d3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .d4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .d5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .d6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .d7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .d8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .d-hide { display: none !important }
}

//desktop (1440px)
@include break(w) {    
  .w1 { width: calc((100% - 1vw * 8) / 8 * 1); display: flex !important; }
  .w2 { width: calc((100% - 1vw * 4) / 8 * 2); display: flex !important; }
  .w3 { width: calc((100% - 1vw * 2.6) / 8 * 3); display: flex !important; }
  .w4 { width: calc((100% - 1vw * 2) / 8 * 4); display: flex !important; }
  .w5 { width: calc((100% - 1vw * 1.6) / 8 * 5); display: flex !important; }
  .w6 { width: calc((100% - 1vw * 1.3) / 8 * 6); display: flex !important; }
  .w7 { width: calc((100% - 1vw * 1.1) / 8 * 7); display: flex !important; }
  .w8 { width: calc((100% - 1vw * 1) / 8 * 8); display: flex !important; }
  .w-hide { display: none !important }
}
